@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

:root{
  --blue-color: #00205c;
  --grey-color: #77889926;
  --dark-grey-color: #292f3626;
  background-color: rgb(16, 12, 73);
}

#infernal{
  width: 250px;
  height: 150px;
}

#elder{
  width: 250px;
  height: 150px;
}

header {
  background-color: #1c1c2e;
  padding: 20px;
  height: 150px;
}

body{
  margin: 0px;
}

header h1 {
  color: gold;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: 2em;
  margin: 0;
  margin-top: 40px;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  background-color: #2a2a40;
  color: white;
}

.range-slider > input{
  color: white;
  border: none;
  outline: none;
  background: var(--grey-color);
  font-size: 1.5rem;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  min-width: 64px;
}

.range-slider{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  padding-top: 40px;
  position: relative;
  padding-bottom: 10px;
  height: 100px;
  width: 30%;
}

#time-selector{
  padding-left: 10px;
}


#time-selector h2{
  position: absolute;
  top: 0%;
  left: 31%;
  color: gold;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin: 0;
}

#winprob-selector h2{
  position: absolute;
  top: 0%;
  left: 20%;
  color: gold;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  margin: 0;
  width: 300;
}

.range{
  width: 100%;
  display: grid;
  position: relative;
  z-index: 5;
}

.range input{
  grid-row: 2;
  grid-column: 1;
  pointer-events: none;
  appearance: none;
  background: transparent;
}

.range input::-webkit-slider-thumb{
  pointer-events: auto;
  appearance: none;
  width: 17px;
  height: 17px;
  background: var(--blue-color);
  border-radius: 100%;
  cursor: pointer;
}

.slider{
  position: absolute;
  height: 10px;
  width: 98%;
  background: var(--grey-color);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 5px;
  overflow: hidden;
  z-index: -1;
  right: 2px;
  pointer-events: none;
}

.progress{
  position: absolute;
  height: 100%;
  background: var(--blue-color);
  pointer-events: none;
}

#subcontainer{
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-self: stretch;
}

#rank-selector{
  display: grid;
  justify-content: left;
  align-content: center;
  grid-template-columns: repeat(5,87px);
  grid-template-rows: 57px 57px;
  height: 130;
  width: 250;
  position: relative;
}

#subcontainer button:active{
  border-radius: 10px;
  background-color: var(--dark-grey-color);
  border-style:double;
}

#rank-selector button{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--grey-color);
  border-style:double;
  cursor: pointer;
}

button label{
  color: white;
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  font-size: smaller;
  pointer-events: none;
}

button .fine{
  width: 30px;
  height: 30px;
}
button .tweak{
  width: 35px;
  height: 35px;
  bottom: 6px;
  position: absolute;
}
button .big{
  width: 45px;
  height: 45px;
  bottom: 6px;
  position: absolute;
}

#apply-button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#apply-button{
  width: 75px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--grey-color);
  border-style:double;
  cursor: pointer;
  position: relative;
  left: 235px;
}

#select-all-button{
  width: 75px;
  height: 30px;
  border-radius: 10px;
  background-color: var(--grey-color);
  border-style:double;
  cursor: pointer;
  position: absolute;
  right: 29.65%;
}
